body{
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: Helvetica, Sans-Serif;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

table{
  border: 2px solid white;
  width: 100%;
  padding: 5px;
  text-align: center;
}

tr{
  color: white;
}

  